{% extends 'index.html' %}
{% load static from static %}

{% block auth %}
    <section             style="background-image: url({% static 'uploads/cityy.webp' %}); background-size: cover; background-repeat: no-repeat">

        <br><br><br><br>
        <p class="title has-text-centered has-text-weight-bold ">Чтобы посмотреть комментарии и написать
            зарегистрируйтесь в свой аккаунт</p>
        <p class="subtitle has-text-danger has-text-centered is-4">ПРИМЕР: <br> <br>
            Имя: user <br>
            Пароль: user12345
        </p>
        <div class="columns is-centered" style="margin-top: 6%">
            <div class="column is-4" >
                <div class="box  p-3" style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px);" >
                    <form class="form  has-text-centered" method="post">
                        <h1 class="title is-size-2 has-text-centered has-text-light">Регистрация</h1>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="field">
                                <label for="{{ field.id_for_label }}" class="label has-text-light">
                                    {{ field.label }}
                                </label>
                                <div class="control">{{ field }}</div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="button is-primary  is-fullwidth">
                            Зарегистрироваться
                        </button>
                        <p class="has-text-centered has-text-grey-light mt-2">
                            У вас уже есть аккаунт?
                            <br>
                            <a href="{% url 'users:sign_in' %}">Войти</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}