{% extends 'index.html' %}
{% load static from static %}

{% block auth %}
    <br>
    <br>
    <section    class="mt-2"         style="background-image: url({% static 'uploads/cityy.webp' %}); background-size: cover; background-repeat: no-repeat">

        <br>
        <br>
        <br>
        <br>
        <p class="title has-text-centered has-text-weight-bold">Чтобы посмотреть комментарии и написать
            войдите в свой аккаунт</p>
        <div class="columns is-centered" style="margin-top: 6%">
            <div class="column is-4">
                <div class="box p-4" style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px);">
                    <form class="form  has-text-centered" method="post">
                        <h1 class="title is-size-2 has-text-centered has-text-light">Войти</h1>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="field ">
                                <label for="{{ field.id_for_label }}" class="label has-text-light">
                                    {{ field.label }}
                                </label>
                                <div class="control">{{ field }}</div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="button is-fullwidth has-text-weight-bold is-primary">
                            Войти
                        </button>
                        <p class="  has-text-centered has-text-grey-light mt-2">
                            Не имеете аккаунт?
                            <br>
                            <a href="{% url 'users:sign_up' %}">Зарегистрироваться</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}