.form-1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: red;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    animation: shadow 8s infinite;
}

.form-1:hover {
    width: 300px;
    cursor: pointer;
}

.form-1:hover input {
    display: block;
}

.form-1:hover .fa {
    background: #07051a;
    color: white;
}

@keyframes shadow {
    from {
        text-shadow: 0 0 4px whitesmoke;
    }
    50% {
        text-shadow: 0 0 40px white;
    }
    to {
        text-shadow: 0 0 4px antiquewhite;
    }
}


.chinor {
    font-family: 'League Spartan', sans-serif;
    animation: shadow 8s infinite;
}

@keyframes shadow {
    from {
        text-shadow: 0 0 4px whitesmoke;
    }
    50% {
        text-shadow: 0 0 40px white;
    }
    to {
        text-shadow: 0 0 4px antiquewhite;
    }
}

.box {
    padding: 0;
}


.tabs {

}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.bt-1 {
    border-radius: 20px;
    font-family: 'League Spartan', sans-serif;
    animation: shadow 8s infinite;
}


@keyframes shadow {
    from {
        text-shadow: 0 0 4px whitesmoke;
    }
    50% {
        text-shadow: 0 0 40px white;
    }
    to {
        text-shadow: 0 0 4px antiquewhite;
    }
}

.foods_detail_button {
    text-decoration: none;
    border-radius: 20px;
    background: linear-gradient(145deg, #061356 0, #00e8b2 50%, #061356 100%);
    color: white;
    border-color: #595959;
    transition: 600ms;
}

.foods_detail_button:hover {
    text-decoration: none;
    border-radius: 20px;
    background: linear-gradient(145deg, #00e8b2 0, #061356 50%, #00e8b2 100%);
    color: white;
    border-color: #061356;

}



.navbar-burger {
    background-color: white;
}

.about {
    font-family: 'League Spartan', sans-serif;
    color: white;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 9;
}

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 12;
}

.gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 12;
}

.gallery__item--6 {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 12;
}

.gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 14;
}

.gallery__item--8 {
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 14;
    grid-row-end: 18;
}

.gallery__item--9 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 18;
}




footer{
    width: 100%;
}

.navbar{
    opacity: 90%;
}

.tabss{
    color: #0a0a0a;
}


.detail{
    margin-left: 400px;
}


@media screen and (max-width: 1024px) {
    .about{
        color: #0a0a0a;
        align-items: center;
    }
    .detail{
        margin-left: 300px;
    }
    .tabss{
        color: white;
    }


}

