<div class="tabs is-centered is-fullwidth ">
    <ul>

        {% for category in categories %}
            <li>
                <a href="{% url 'cafe:foods' %}?category={{ category.pk }}"
                   class="navbar-item tabss has-text-weight-bold has-text-weight-medium is-size-5">
                    {{ category }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>