{% extends 'index.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="section ">
    <br>
    <br>
<form action="" class="site-form has-background-light has-text-centered detail" method="post"  style="border-radius: 15px; width: 40%; height: 150px; ">
    {% csrf_token %}
    <br>
    <p class="title is-size-4 mb-4">
        Вы действительно хотите удалить комментарий?
    </p>
    <div class="has-text-centered">
        <button class="button is-success" type="submit">
            Подтвердить
        </button>
        <a href="{% url 'cafe:foods_detail' comment.food.slug%} " class="button is-danger">
            Отмена
        </a>
    </div>
</form>
    <br>
    <br>
    </section>
{% endblock %}