{% extends 'index.html' %}
{% block content %}
    <section class="section is-centered">
        <form class=" has-background-light site-form detail" method="post" enctype="multipart/form-data "
              style="margin-top: 100px; border-radius: 15px; width: 40%; padding: 10px;  ">
            <br>
            <div class="title is-2 has-text-centered">
                Изменить комментарий
            </div>
            {% csrf_token %}
            {{ form }}
            <div class="has-text-centered mt-4">
                <button class="button is-success" type="submit">
                    Подтвердить
                </button>
                <a href="{% url 'cafe:foods_detail' food.slug %}" class="button is-danger">
                    Отмена
                </a>
            </div>
            <br>
        </form>
    </section>
{% endblock %}