{% extends 'index.html' %}
{% load static from static %}

{% block content %}
    <section
            style="background-image: url({% static 'uploads/city3.webp' %}); background-attachment: fixed; background-size: cover; background-repeat: no-repeat">

        <br>
        <br>
        <br>
        <br>
        <div class="title has-text-light has-text-centered" >
            {{ food }}
        </div>
        {% if user.is_authenticated %}
            <section class="section">
            <div>
                <div class="columns is-vcentered" >
                    <div class="column is-6" ><img src="{{ food.image.url }}" alt="" class="image is-centered"
                                                  style="min-width: 70%; border-radius: 5px">
                        <br>

                        {% if user not in food.likes.all and user not in food.dislikes.all %}
                            <div class="columns">
                                <div class="column is-1 mx-6">
                                    <form action="{% url 'cafe:like_food' food.slug %}" method="post"
                                          class="has-text-right">
                                        {% csrf_token %}
                                        <button class="button is-rounded" type="submit">
                                            <ion-icon name="thumbs-up"></ion-icon>
                                            <span class="ml-2">{{ food.total_likes }}</span>
                                        </button>
                                    </form>
                                </div>
                                <div class="column is-1 mx-6" >
                                    <form action="{% url 'cafe:dislike_food' food.slug %}" method="post"
                                          class="has-text-right">
                                        {% csrf_token %}
                                        <button class="button is-rounded " type="submit">
                                            <ion-icon name="thumbs-down"></ion-icon>
                                            <span class="ml-2">{{ food.total_dislikes }}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                        {% if user  in food.likes.all and user not in food.dislikes.all %}
                            <div class="columns">
                                <div class="column is-1 mx-6">
                                    <form action="{% url 'cafe:like_food' food.slug %}" method="post"
                                          class="has-text-right">
                                        {% csrf_token %}
                                        <button class="button is-success is-rounded" type="submit">
                                            <span class="has-text-light"><ion-icon name="thumbs-up"></ion-icon></span>
                                            <span class="ml-2 has-text-light">{{ food.total_likes }}</span>
                                        </button>
                                    </form>
                                </div>
                                <div class="column is-1 mx-6">
                                    <form action="{% url 'cafe:dislike_food' food.slug %}" method="post"
                                          class="has-text-right">
                                        {% csrf_token %}
                                        <button class="button is-rounded" type="submit">
                                            <ion-icon name="thumbs-down"></ion-icon>
                                            <span class="ml-2">{{ food.total_dislikes }}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                        {% if user not in food.likes.all and user  in food.dislikes.all %}
                            <div class="columns">
                                <div class="column is-1 mx-6">
                                    <form action="{% url 'cafe:like_food' food.slug %}" method="post">
                                        {% csrf_token %}
                                        <button class="button is-rounded" type="submit">
                                            <span class="has-text-black"><ion-icon name="thumbs-up"></ion-icon></span>
                                            <span class="ml-2 has-text-black">{{ food.total_likes }}</span>
                                        </button>
                                    </form>
                                </div>
                                <div class="column is-1 mx-6">
                                    <form action="{% url 'cafe:dislike_food' food.slug %}" method="post">
                                        {% csrf_token %}
                                        <button class="button is-danger is-rounded " type="submit">
                                            <span class="has-text-light"><ion-icon name="thumbs-down"></ion-icon></span>
                                            <span class="ml-2 has-text-light">{{ food.total_dislikes }}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}</div>

                    <div class="column is-6 " style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px); border-radius: 8px">
                        {% if not food.comment_set.all %}
                            <div class="has-text-centered has-text-grey-light is-5 mx-2">
                                Нет комментариев. Вы можете стать первым ...
                            </div>

                        {% endif %}
                        <form class="comment" enctype="multipart/form-data" method="post" style="color: gainsboro">
                            {% csrf_token %}
                            {{ form }}
                            <button class="button is-success is-fullwidth has-text-weight-bold mt-3">
                                Сохранить
                            </button>
                        </form>
                        <br>
                    </div>
                </div>
</div>
                <div class="title  is-3 mb-6">
                    {% for comment in food.comment_set.all %}
                        <article class="message " style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px);">
                            {% if user == comment.user %}
                                <div class="message-header">
                                    Было добавлено {{ comment.user }} в {{ comment.date_added }}
                                    <div class="has-text-left  is-size-5">
                                        <a href="{% url 'cafe:edit_comment' slug=food.slug pk=comment.pk %}"
                                           class="button is-size-5 "
                                           style="text-decoration: none; background: none; border: none ">
                                            <span class="has-text-info"><ion-icon
                                                    name="create-outline"></ion-icon></span>

                                        </a>
                                        <a href="{% url 'cafe:delete_comment' slug=food.slug pk=comment.pk %}"
                                           class="button is-size-5" style="text-decoration: none; background: none; border: none  ">
                                            <span class="has-text-danger"><ion-icon
                                                    name="trash-outline"></ion-icon></span>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                Было добавлено {{ comment.user }} в {{ comment.date_added }}
                            {% endif %}
                            <div class="message-body " style="color: lightgrey">{{ comment.body }}</div>
                        </article>
                    {% endfor %}
                </div>


            </section>
        {% else %}
            <section class="section">
                <div class="columns is-vcentered">
                    <div class="column  is-6"><img src="{{ food.image.url }}" alt="" class="image is-centered"
                                                   style="min-width: 70%; border-radius: 5px;">
                        <br>
                    </div>
                    <div class="column" >
                        <div class="title has-text-centered has-text-light ">Чтобы добавить свой комментарий и поставить
                            лайк зарегистрируйтесь
                            <br>
                            <br>
                            <a href="{% url 'users:sign_up' %}" class="button is-rounded is-success ">
                                Зарегистрироваться</a>
                        </div>

                    </div>
                </div>
                <div class="title  is-3 mb-6 ">
                    {% for comment in food.comment_set.all %}
                        <article class="message " style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px);">
                            {% if user == comment.user %}
                                <div class="message-header" style="color: lightgrey">
                                    Было добавлено {{ comment.user }} в {{ comment.date_added }}
                                     <div class="has-text-left  is-size-5">
                                        <a href="{% url 'cafe:edit_comment' slug=food.slug pk=comment.pk %}"
                                           class="button is-size-5 "
                                           style="text-decoration: none; background: none; border: none ">
                                            <span class="has-text-info"><ion-icon
                                                    name="create-outline"></ion-icon></span>

                                        </a>
                                        <a href="{% url 'cafe:delete_comment' slug=food.slug pk=comment.pk %}"
                                           class="button is-size-5" style="text-decoration: none; background: none; border: none  ">
                                            <span class="has-text-danger"><ion-icon
                                                    name="trash-outline"></ion-icon></span>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div style="color: lightgrey">
                                Было добавлено {{ comment.user }} в {{ comment.date_added }}</div>
                            {% endif %}
                            <div class="message-body" style="color: lightgrey" >{{ comment.body }}</div>
                        </article>
                    {% endfor %}
                </div>

                </div>
            </section>
        {% endif %}
    </section>
{% endblock %}