{% extends 'index.html' %}
{% load static %}
{% load categories %}

{% block foods %}
    <br>
    <br>
    <br>


    <section class="section s-1  " style="background-image: url({% static 'uploads/city.jpg' %}); background-attachment: fixed; background-size: cover; background-repeat: no-repeat">
        {% categories %}
        <div class="columns">
                <div class="columns is-multiline is-centered" >
                    {% for foods in food %}
                        <div class="column is-4 mt-3   mx-2" style="border-radius: 10px; width: 350px; background: rgba(20,20,20, 0.5); backdrop-filter: blur(16px)">
                            <div class="card product-card  " style="min-height: auto; min-width: 300px; background: none">
                                <a href="">
                                    <div class="card-image">
                                        <figure class="image" style="">
                                            <img src="{{ foods.image.url }}" alt="Placeholder image" style="height: 250px;">
                                        </figure>
                                        <div class="has-text-right m-3">
                                            {% if foods.is_new %}
                                                <span class="tag is-danger">New!</span>
                                            {% endif %}
                                            {% if foods.is_discounted %}
                                                <span class="tag is-primary">Discount!</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                                <div class="card-content" style="background: none">
                                    <div class="media">
                                        <br>
                                        <div class="media-content">
                                            <p class="title is-4 has-text-centered has-text-light has-text-weight-bold">{{ foods }}</p>
                                            <p class="subtitle is-6 has-text-weight-normal  has-text-centered has-text-grey-light"> {{ foods.subtitle }}</p>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column"></div>
                                    </div>
                                    <div class="content has-text-weight-bold ">
                                        <a href="{% url 'cafe:foods_detail' foods.slug %}"
                                           class="button foods_detail_button  ">Посмотреть</a>
                                    </div>
                                    <br>

                                    <div class="columns is-centered">
                                        <div class="column is-2">
                                            <div class="columns is-gapless">
                                                <div class="column">
                                                    <ion-icon class="mt-1  " style="color: #cffdc0" name="thumbs-up"></ion-icon>
                                                </div>
                                                <div class="column">
                                                    <span class="ml-2" style="color: #ffffff">{{ foods.total_likes }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-2">
                                            <div class="columns is-gapless">
                                                <div class="column">
                                                    <ion-icon class="mt-1 " style="color: #f5bbbb" name="thumbS-down"></ion-icon>
                                                </div>
                                                <div class="column">
                                                    <span class="ml-2" style="color: white">{{ foods.total_dislikes }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-2">
                                            <div class="columns is-gapless">
                                                <div class="column">
                                                    <ion-icon class="mt-1 " style="color: #adabab" name="card"></ion-icon>
                                                </div>
                                                <div class="column">
                                                    <span class="ml-2" style="color: white">{{ foods.comment_set.count }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </section>
{% endblock %}