{% load static %}
{% load categories %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Chinor</title>
    <link rel="icon" href='{% static 'uploads/shortcut-icon.png' %}' type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="{% static 'static/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'static/style.css' %}">
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<style>
</style>
<body>
<div class="navbar is-fullwidth p-1 "
     style=" width: 100%; position: fixed;  height: 70px; background: linear-gradient(145deg, #d51111 0, #c40101 50%, #f53838 100%);">
    <div class="navbar-brand" style="opacity: 100%;">
        <p class="title chinor is-1 mx-6 mt-1  has-text-light">Chinor</p>
        <a href="{% url 'cafe:main' %}" class="title about has-text-weight-bold is-4 mt-4 mx-3 has-text-light">О
            Нас</a>
        <a href="{% url 'cafe:foods' %}"
           class="title about has-text-weight-bold is-4 mt-4 mx-3 has-text-light">Блюда</a>
        <a href="{% url 'cafe:order' %}"
           class="title has-text-weight-bold about is-4 mt-4 mx-3  has-text-light">Заказать</a>
        <a href=""></a>
        <span class="navbar-burger mt-2" data-target="navbarMenuHeroC" onclick="toggleBurger()" style="color: red; ">
            <span></span>
            <span></span>
            <span></span>
          </span>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-item" style="">
            <form action="{% url 'cafe:foods' %} " method="get" class=" form-1 mt-4 " style="opacity: 100%;">
                <input type="search" placeholder="Поиск по сайту">
                <i class="fa fa-search">
                    <ion-icon name="search"></ion-icon>
                </i>
            </form>
        </div>

        <div class="navbar-end">

            {% if user.is_authenticated  %}
                <span class="navbar-item " style="opacity: 100%;">
                   <a class="button bt-1 is-disabled is-white has-text-black has-text-weight-bold  mt-1  ">
                        <span class="mx-3"><ion-icon name="person"></ion-icon></span> {{ user }}
                   </a>
                </span>

            {% else %}
            <span class="navbar-item" style="opacity: 100%;">
                <a class="button log-in bt-1 is-disabled is-white has-text-black has-text-success has-text-weight-bold  mt-1  "
                   href="{% url 'users:sign_in' %}">
                        <span class="mx-2 "><ion-icon name="log-in"></ion-icon></span><span class="mt-1">Войти</span>
                   </a>
                </span>
        {% endif %}
            {% if user.is_authenticated %}
                <span class="navbar-item" style="opacity: 100%;">
                <a class="button  bt-1 is-disabled is-white has-text-black has-text-danger has-text-weight-bold  mt-1  "
                   href="{% url 'users:sign_out' %}">
                         <span class="mt-1">Выйти</span> <span class="mx-2"><ion-icon name="log-out"></ion-icon></span>
                   </a>
                </span>
            {% endif %}
        </div>
    </div>
</div>
{% block about %}
{% endblock %}
{% block foods %}
{% endblock %}
{% block order %}
{% endblock %}
{% block auth %}
{% endblock %}
{% block content %}
{% endblock %}
<script>
    function openTab(event, tabName) {
        event.preventDefault()

        let i, x, tablinks;

        x = document.getElementsByClassName("content-tab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" is-active", "");
        }
        document.getElementById(tabName).style.display = "block";
        event.currentTarget.className += " is-active";

    }

    function toggleBurger() {
        document.querySelector('.navbar-burger').classList.toggle('is-active')
        document.querySelector('.navbar-menu').classList.toggle('is-active')

    }
</script>
</body>
</html>