{% extends 'index.html' %}
{% load static %}

{% block about %}
<section
        style="background-image: url({% static 'uploads/city2.jpeg' %}); background-attachment: fixed; background-size: cover; background-repeat: no-repeat">
    <br>
    <br><br>
    <section style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(12px)">
        <h3 class="title is-1 has-text-centered has-text-light">
            Chinor Restaurant
        </h3>
        <script type="text/javascript" charset="utf-8"
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3bf18df5c6b8cc5eea053d2bc81a0f351d2cc8c176816865cf480e5a9f806ea3&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </section>
    <style>
        html,
        .swiper {
            width: 100%;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 450px;
            height: 350px;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: auto;
        }

        .swiper-wrapper {
            height: 200px;
        }

        @media screen and  (max-width: 530px) {
            .swiper-slide {
                width: 150px;
                height: 150px;
            }

            .swiper-wrapper {
                height: auto;
            }
        }
    </style>


    <section class="section" style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px)">
        <div class="title has-text-centered has-text-weight-bold has-text-light">Наша галерея</div>
        <div class="subtitle has-text-centered has-text-weight-bold has-text-grey-light">Здесь вы можете посмотреть
            фотографии
            нашего ресторана
        </div>
        <br>
        <div class="swiper mySwiper" style="">
            <div class="swiper-wrapper">
                {% for object in objects %}
                <div class="swiper-slide {% if forloop.counter0 == 0 %} active {% endif %}">
                    <img src="{{ object.image.url }}" alt="Chinor" onclick="toggleModal()">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                {% for object in objects %}
                <p class="image is-4by3">
                    <img src="{{ object.image.url }}" alt="">
                </p>
                {% endfor %}
            </div>
            <br>
            <button class="modal-close mt-6 mx-6 is-large" aria-label="close" onclick="toggleModal()"></button>
        </div>
    </section>
    <section class="section" style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px)">
        <div class="gallery">
            <figure class="gallery__item gallery__item--1">
                <img src="{% static 'uploads/chinor07.jpg' %}" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="{% static 'uploads/chinor05.jpg' %}" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--3">
                <img src="{% static 'uploads/chinor08.jpg' %}" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--4">
                <img src="{% static 'uploads/res01.jpg' %}" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--5">
                <img src="{% static 'uploads/res02.jpg' %}" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--6">
                <img src="{% static 'uploads/res03.jpg' %}" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--7">
                <img src="{% static 'uploads/res04.jpg' %}" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--8">
                <img src="{% static 'uploads/res05.jpg' %}" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--9">
                <img src="{% static 'uploads/res06.jpg' %}" class="gallery__img" alt="Image 1">
            </figure>

        </div>
        <br><br><br>
        <div class="title has-text-centered has-text-weight-bold has-text-light">Наш ресторан также популярен своими
            традиционными блюдами
        </div>
        <div class="columns">
            <div class="column">
                <img src="{% static 'uploads/somsa01.jpg' %}" class="gallery__img" alt="Image 1">
            </div>

            <div class="column">
                <img src="{% static 'uploads/somsa02.jpg' %}" class="gallery__img" alt="Image 1">
            </div>
        </div>
        <br>
        <div class="columns">
            <div class="column">
                <img src="{% static 'uploads/res07.jpg' %}" class="gallery__img" alt="Image 1">
            </div>
            <div class="column">
                <img src="{% static 'uploads/res08.jpg' %}" class="gallery__img" alt="Image 1">
            </div>
            <div class="column">
                <img src="{% static 'uploads/res09.jpg' %}" class="gallery__img" alt="Image 1">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <img src="{% static 'uploads/res10.jpg' %}" class="gallery__img" alt="Image 1">
            </div>
            <div class="column">
                <img src="{% static 'uploads/res11.jpg' %}" class="gallery__img" alt="Image 1">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="title has-text-weight-bold has-text-light has-text-centered">Описание Ресторана</div>
        <div class="subtitle has-text-centered has-text-weight-bold has-text-grey-light">Это самый лучший ресторан в
            Бухаре, где вы
            можете
            вкусно поесть и насладиться временем проведенным здесь.
        </div>
        <br>
        <div class="columns is-vcentered">
            <div class="column "><img src="{% static 'uploads/chinor.jpg' %}" alt=""></div>
            <div class="column">
                <div class="title is-4 has-text-light has-text-weight-normal "><strong
                        class="title is-4 has-text-light has-text-weight-medium">CHINOR</strong> находится в самом
                    центре Бухары, недалеко от мечете Пири - Дастгир. Ресторан был построен еще в 2014 году -
                    необычное
                    <br>
                    местоположение заведения притягивает
                    <br> внимание не только местных жителей, но и туристов, которые приезжают в Бухару.
                </div>
            </div>
        </div>
    </section>
    <section class="section" style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px)">
        <div class="title has-text-centered has-text-weight-bold has-text-light">Больше вы можете найти в нашем
            инстаграмм канале
        </div>
        <div class="columns">
            <div class="column">
                <blockquote class="instagram-media" data-instgrm-captioned
                            data-instgrm-permalink="https://www.instagram.com/p/CbuP8BiMfuq/?utm_source=ig_embed&amp;utm_campaign=loading"
                            data-instgrm-version="14"
                            style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                    <div style="padding:16px;"><a
                            href="https://www.instagram.com/p/CbuP8BiMfuq/?utm_source=ig_embed&amp;utm_campaign=loading"
                            style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                            target="_blank">
                        <div style=" display: flex; flex-direction: row; align-items: center;">
                            <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                            <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                            </div>
                        </div>
                        <div style="padding: 19% 0;"></div>
                        <div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
                            <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1"
                                 xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                                        <g>
                                            <path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div style="padding-top: 8px;">
                            <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">
                                Посмотреть эту публикацию в Instagram
                            </div>
                        </div>
                        <div style="padding: 12.5% 0;"></div>
                        <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                            <div>
                                <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
                                <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
                                <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
                            </div>
                            <div style="margin-left: 8px;">
                                <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
                                <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
                            </div>
                            <div style="margin-left: auto;">
                                <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
                                <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
                                <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                            <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div>
                            <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div>
                        </div>
                    </a>
                        <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                            <a href="https://www.instagram.com/p/CbuP8BiMfuq/?utm_source=ig_embed&amp;utm_campaign=loading"
                               style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                               target="_blank">Публикация от Chinor Bukhara (@chinorbukhara)</a></p></div>
                </blockquote>
                <a href="https://instagram.com/chinorbukhara?utm_medium=copy_link" class="button is-rounded is-light">
                    <ion-icon name="logo-instagram"></ion-icon>
                    Instagram</a>
                <script async src="//www.instagram.com/embed.js"></script>
            </div>
            <div class="column">
                <blockquote class="instagram-media" data-instgrm-captioned
                            data-instgrm-permalink="https://www.instagram.com/p/CbuM5T_M4zY/?utm_source=ig_embed&amp;utm_campaign=loading"
                            data-instgrm-version="14"
                            style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                    <div style="padding:16px;"><a
                            href="https://www.instagram.com/p/CbuM5T_M4zY/?utm_source=ig_embed&amp;utm_campaign=loading"
                            style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                            target="_blank">
                        <div style=" display: flex; flex-direction: row; align-items: center;">
                            <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                            <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                            </div>
                        </div>
                        <div style="padding: 19% 0;"></div>
                        <div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
                            <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1"
                                 xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                                        <g>
                                            <path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div style="padding-top: 8px;">
                            <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">
                                Посмотреть эту публикацию в Instagram
                            </div>
                        </div>
                        <div style="padding: 12.5% 0;"></div>
                        <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                            <div>
                                <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
                                <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
                                <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
                            </div>
                            <div style="margin-left: 8px;">
                                <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
                                <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
                            </div>
                            <div style="margin-left: auto;">
                                <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
                                <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
                                <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                            <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div>
                            <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div>
                        </div>
                    </a>
                        <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                            <a href="https://www.instagram.com/p/CbuM5T_M4zY/?utm_source=ig_embed&amp;utm_campaign=loading"
                               style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                               target="_blank">Публикация от Chinor Bukhara (@chinorbukhara)</a></p></div>
                </blockquote>
                <a href="https://www.facebook.com/profile.php?id=100079775228916" class="button is-rounded is-light">
                    <ion-icon name="logo-facebook"></ion-icon>
                    Facebook</a>
                <script async src="//www.instagram.com/embed.js"></script>
            </div>
        </div>

    </section>
    <section class="section" style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px)">
        <div class="title has-text-weight-bold has-text-centered has-text-light">Интерьер</div>
        <br>
        <div class=" columns mx-4">
            <div class="column"><img src="{% static 'uploads/photo17.jpg' %}" alt="" style=""></div>
            <div class="column"><img src="{% static 'uploads/photo7.jpg' %}" alt="" style=""></div>
        </div>
        <br>
        <div class="subtitle is-5 has-text-light ">Внутри ресторана <strong
                class="title is-5 has-text-light ">CHINOR</strong>
            все очень правильно организовано. Именно поэтому в его залах могут одновременно разместиться более
            500 человек. В залах ресторана стоит мягкая мебель, и кондиционеры , которые могут согревать
            посетителей заведения в холодное время года, создавая атмосферу домашнего уюта. В каждом зале
            расположен уголок кассира , который очень удобен для оплаты. А так же гости заведения могут
            расположиться на цветных мягких диванах, которые стоят за столами, выполненными из дерева. Внутри
            ресторана вся отделка выполнена в <strong class="has-text-weight-bold has-text-light "> традиционном
                стиле </strong>: здесь на каждой стене нарисованы узоры и исторические заповедники
            , которые отображают нашу культуры.
        </div>

    </section>
    <section class="section" style="background: rgba(20,20, 20, 0.5); backdrop-filter: blur(16px)">
        <div class="title has-text-weight-bold has-text-centered has-text-light">Диджей</div>
        <div class="subtitle is-5 has-text-light ">В залах ресторана <strong
                class="title is-5 has-text-light has-text-weight-medium">CHINOR</strong> имеется угол
            Диджея, где гости могут заказать их любимую песню или послушать живой голос Диджея. Здесь также есть
            отличное звуковое оборудование, которое делает звучание песни еще более ярким.
        </div>
        <div class="promo container is-flex is-justify-content-center is-align-items-center">
            <iframe width="100%" height="600px" src="https://www.youtube.com/embed/E8GP8mr-jhM?autoplay=0"
                    id="video"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    </section>
    <footer class=" "
            style="background: linear-gradient(145deg, #000000 0, #061356 71%, #4152ff 100%); margin: 0;">
        <div class="columns">
            <div class="column" style="padding: 20px;">
                <div class="title has-text-light"> Контакты</div>
                <div class="subtitle  mt-4"><a href="{% url 'cafe:order' %}"
                                               class="subtitle has-text-light">Заказать</a>

                    <div class="subtitle has-text-light mt-4">Для доставки обращаться: +998(97)305-91-21</div>
                    <a href="https://instagram.com/chinorbukhara?utm_medium=copy_link"
                       class="mx-3 has-text-centered">
                        chinor_restaurant
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100079775228916"
                       class="mx-3 has-text-centered">
                        Chinor Bukhara
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </div>
            </div>
            <div class="column" style="padding: 20px;">
                <div class="title has-text-light">Хотите сайт для продвижение продуктов?</div>
                <div class="subtitle mt-4  has-text-light"> Разработчик: Халилов Шохижахон
                    <div class="subtitle mt-4  has-text-light"> Контакт: +998(99)747-41-08</div>
                    <a href="https://instagram.com/shox_4108?utm_medium=copy_link" class="   mx-4">@shox_4108
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="https://t.me/shox_4108" class="mx-4">t.me
                        <ion-icon name="paper-plane"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        let swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },

        });
        let modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        let img = document.getElementById('myImg');
        let modalImg = document.getElementById("img01");
        let captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        let span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        function toggleModal() {
            document.querySelector('.modal').classList.toggle('is-active')
        }

        let slide = document.querySelector('.swiper-slide-active')
    </script>
</section>
{% endblock %}
