{% extends 'index.html' %}
{% load static %}

{% block order %}
    <br>
    <br>

    <section class="section" style="background: linear-gradient(145deg, #9efded 0, #f8f8f8 30%, #f8f8f8 85%);">
        <p class="title is-1 has-text-centered has-text-black has-text-weight-bold ">
            Заказать
        </p>
        <p class="title is-3 has-text-black has-text-centered"> Здесь вы можете найти номера для заказов</p><br>

        <div class=" columns mx-4">
            <div class="column">
                <p class="title has-text-centered has-text-black ">1 Этаж</p>
                <img src="{% static 'uploads/photo22.jpg' %}" alt="" style="border-radius: 15px;">
            </div>
            <div class="column ">
                <p class="title has-text-centered has-text-black ">2 Этаж</p>
                <img src="{% static 'uploads/photo17.jpg' %}" alt="" style="border-radius: 15px;">
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-5">
                <div class="card"
                     style="padding: 8px; border-radius: 15px; background: linear-gradient(145deg, #88f6e6 0, #ffffff 56%, #88f6e6 87%);">
                    <div class="content">
                        <p class="title has-text-centered has-text-weight-bold has-text-black chinor">Заказ столов</p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Этаж:</span> 1
                        </p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Имя:</span>
                            Нуриддин</p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Номер:</span>
                            +998(91)244-97-27</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="column is-5">
                <div class="card"
                     style="padding: 8px; border-radius: 15px; background: linear-gradient(145deg, #88f6e6 0, #ffffff 56%, #00ffe1 87%); ">
                    <div class="content">
                        <p class="title has-text-centered has-text-weight-bold has-text-black chinor">Заказ столов</p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Этаж:</span> 1
                        </p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Имя:</span>
                            Собир</p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Номер:</span>
                            +998(90)299-01-99</p>
                        <br>
                    </div>
                </div>
            </div>
            <br>

        </div>
        <br>
        <div class="columns is-centered">
            <div class="column is-5">
                <div class="card"
                     style="padding: 8px; border-radius: 15px; background: linear-gradient(145deg, #88f6e6 0, #ffffff 56%, #00ffe1 87%);">
                    <div class="content">
                        <p class="title has-text-centered has-text-weight-bold has-text-black chinor">Заказ столов</p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Этаж:</span> 2
                        </p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Имя:</span>
                            Садриддин</p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Номер:</span>
                            +998(99)942-00-22</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="column  is-5">
                <div class="card"
                     style="padding: 8px; border-radius: 15px; background: linear-gradient(145deg, #88f6e6 0, #ffffff 56%, #88f6e6 87%);">
                    <div class="content">
                        <p class="title has-text-centered has-text-weight-bold has-text-black chinor">Доставка и с
                            собой</p>
                        <p class="title has-text-black is-4"><span
                                class="title has-text-centered has-text-weight-bold has-text-black is-4">Номер:</span>
                            +998(97)305-91-21</p>
                        <br>
                        <br><br><br><br>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
